In [1]:
import nflreadpy as nfl
import pandas as pd
import seaborn as sns
import sqlalchemy as sql
import matplotlib.pyplot as plt

In [4]:
draft = pd.read_csv('../data/draftpicks.csv')

In [5]:
draft

,Unnamed: 0,season,round,pick,team,name,hof,position,category,side,...,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks,av_per_game,bust
0,6026,2000,1,1,CLE,Courtney Brown,False,DE,DL,D,...,0.0,0.0,0.0,0.0,0.0,156.0,NaN,19.0,0.442623,0
1,6027,2000,1,2,WAS,LaVar Arrington,False,LB,LB,D,...,0.0,0.0,0.0,0.0,0.0,338.0,3.0,23.5,0.541176,0
2,6028,2000,1,3,WAS,Chris Samuels,False,T,OL,O,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.446809,0
3,6029,2000,1,4,CIN,Peter Warrick,False,WR,WR,O,...,360.0,2.0,275.0,2991.0,18.0,3.0,NaN,NaN,0.341772,0
4,6030,2000,1,5,BAL,Jamal Lewis,False,RB,RB,O,...,10607.0,58.0,221.0,1879.0,4.0,NaN,NaN,NaN,0.526718,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6639,12665,2025,7,253,MIA,Zeek Biggers,False,DL,DL,D,...,0.0,0.0,0.0,0.0,0.0,6.0,NaN,1.5,0.111111,1
6640,12666,2025,7,254,NOR,Fadil Diggs,False,DE,DL,D,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.000000,1
6641,12667,2025,7,255,HOU,Luke Lachey,False,TE,TE,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6642,12668,2025,7,256,LAC,Trikweze Bridges,False,SAF,DB,D,...,0.0,0.0,0.0,0.0,0.0,17.0,1.0,NaN,0.062500,1
6643,12669,2025,7,257,NWE,Kobee Minor,False,DB,DB,D,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.000000,1